services:
  backend:
    build: ./backend
    container_name: my-backend
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: my-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      # Nuxt bekommt die URL des Backends im Docker-Netzwerk
      - NUXT_PUBLIC_API_BASE=http://backend:4000
